.breadcrum {
  display: flex;
  align-items: center;
  gap: 8px;
  color: #5e5e5e;
  font-size: 16px;
  font-weight: 600;
  margin: 30px 110px;
  text-transform: capitalize;
}

@media (max-width: 800px) {
  .breadcrum {
    font-size: 14px;
    margin: 20px 20px;
    gap: 4px;
  }
}
